<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
    <title>appfront</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="src/main.js"></script>
  </head>
  <body>
      <div id="skillobm">
        <el-row>
          <el-button v-if="isEnd" v-on:click="dostart">开始计时</el-button>
          <el-button v-else v-on:click="doend">结束计时</el-button>
        </el-row>
        <el-row>
          <el-tag v-if="yscount>3" type="success">羽碎 {{yscount}}s</el-tag>
          <el-tag v-else type="danger" class="shake shake-constant shake-constant--hover">羽碎 {{yscount}}s</el-tag>
        </el-row>
        <el-row>
          <el-tag v-if="sixDonecount>3" type="success">六点一 {{sixDonecount}}s</el-tag>
          <el-tag v-else type="danger" class="shake shake-constant shake-constant--hover">六点一 {{sixDonecount}}s</el-tag>
        </el-row>
      </div>
  </body>
</html>
